{{>header}}

<section class="flowers">
    <div class="container">
        {{#each flowers}}
            <div class="box">
                <div class="img">
                    <img src={{imageURL}} alt="">
                </div>

                <h2>Name: <span> {{flowerName}} </span></h2>
                <h3>Price: <span> ${{price}} </span></h3>
                <p>Description: <span> {{desc}} </span></p>

                {{!-- <div class="amount">
                    <button>-</button>
                    <span>  </span>
                    <button>+</button>
                </div> --}}

                    <div class="btns">

                        <form action="/flowers/edit-flower/{{id}}" method="get">
                            <button class="bg-warning">Edit</button>
                        </form>

                        <form action="/flowers/delete-flower/{{id}}" method="POST">
                            <button class="bg-danger">Delete</button>
                        </form>

                        <form action="/flowers/status-change/{{id}}" method="POST">
                            <button class="bg-secondary">Sold</button>
                        </form>

                        <form action="/flowers/status-change-available/{{id}}" method="POST">
                            <button class="bg-secondary">Available</button>
                        </form>

                    </div>

            </div>
        {{/each}}
    </div>
</section>